<h1>Bookmark Manager</h1>
<form action="/bookmarks">
  <input type="submit" value="View Bookmarks">
</form>
<form action="/add_bookmark" method="get">
  <input type="submit" value="Add Bookmark">
</form>
