<h1>Bookmarks Manager</h1>
<form action='/add' method='post'>
  <label for="bookmark">Please Enter a URL:</label>
  <input type="text" name="bookmark">
  <input type="submit" value="Add Bookmark">
</form>
